-# app/views/directories/new.html.haml

- parent    ||= @parent
- directory ||= @directory

- parent_path = parent ? parent.path : ''

%section
  %h1 New Directory
  
  = action_form_for directory, :create, :url => "#{parent_path}/directories" do |form|
    %p
      = form.label :title
      = form.text_field :title
    %p
      = form.submit "Create Directory"
