!!! 5
%html
  %head
    %title Sleeping King Studios
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  
  %body
    / %header
    %header
      %h1 Sleeping King Studios
      %nav
        %ul
          %li= link_to 'Home', '/directories'
          %li Articles
          %li Projects
          %li Blog
          %li= link_to 'About', :root
    
    #content
      = yield
    
    %footer
      = yield :breadcrumbs
      %p Hic Iacet Arthurus, Rex Quondam, Rexque Futuris